<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xuhao.salary.infrastructure.persistence.mapper.UserMapper">
    <select id="findByUsername" resultType="com.xuhao.salary.infrastructure.persistence.entity.UserEntity">
        SELECT 
            u.user_id as id,
            u.username,
            u.password,
            u.role_type as roles,
            u.status as enabled,
            e.email,
            1 as account_non_expired,
            1 as account_non_locked,
            1 as credentials_non_expired
        FROM SysUser u
        LEFT JOIN Employee e ON u.emp_id = e.emp_id 
        WHERE u.username = #{username}
    </select>
</mapper>
